{
  "tabWidth": 4,
  "useTabs": true,
  "insertSpaces": true,
  "trimAutoWhitespace": true,
  "autoClosingBrackets": true,
  "autoClosingQuotes": true,
  "autoSurround": true,
  "autoIndent": true,
  "formatOnType": true,
  "formatOnPaste": true
}
